.product-details {
  margin: 40px 30px 80px 30px;
}
@media (max-width: 470px) {
  .product-details {
    margin: 10px 10px 40px 10px;
  }
}

.nutrition-info-btn {
  border: 2px solid #82cf00;
  background: white;
  box-shadow: -8px 8px 30px rgb(0 0 0 / 10%);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 30px;
  padding-left: 30px;
  position: fixed;
  bottom: 12%;
  margin: 0;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin: 0;
  max-width: 600px;
  cursor: pointer;
}
.nutrition-info-btn-text {
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 18px;
  margin-bottom: 18px;
}
